body{font-family:Tahoma,Geneva,sans-serif;font-size:1.2rem;padding:0px;margin:0px;}
.bold{font-weight:bold!important;}
img{width:100%;}
.underline{text-decoration:underline;}
.italic{font-style:italic;}
.centered{text-align:center;}
.txt-med{font-size:1.5rem;}
.txt-sml{font-size:0.8rem;}
.padding-10{padding:10px 0;}
.padding-20{padding:20px 0;}
.margin-20{margin:20px 0;}
.line-height{line-height:2.2rem;}
.txt-shadow{text-shadow:1px 2px 3px rgba(0, 0, 0, 0.5);}
#top-bar{background:rgba(255,86,71,1);background:-moz-linear-gradient(top, rgba(255,86,71,1) 0%, rgba(255,241,153,1) 54%, rgba(255,241,153,1) 100%);background:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,86,71,1)), color-stop(54%, rgba(255,241,153,1)), color-stop(100%, rgba(255,241,153,1)));background:-webkit-linear-gradient(top, rgba(255,86,71,1) 0%, rgba(255,241,153,1) 54%, rgba(255,241,153,1) 100%);background:-o-linear-gradient(top, rgba(255,86,71,1) 0%, rgba(255,241,153,1) 54%, rgba(255,241,153,1) 100%);background:-ms-linear-gradient(top, rgba(255,86,71,1) 0%, rgba(255,241,153,1) 54%, rgba(255,241,153,1) 100%);background:linear-gradient(to bottom, rgba(255,86,71,1) 0%, rgba(255,241,153,1) 54%, rgba(255,241,153,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5647', endColorstr='#fff199', GradientType=0 );overflow:hidden;width:100%;}
#top-bar-bg{
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(1,137,177,1) 100%);
	background-size: cover;
}
#header-tag{margin:10px auto;max-width:724px;width:100%;}
#header-tag img{width: 100%;}
#vid-wrap{margin:0px;padding:0px;width:100%;}
#skip-button{padding:0 8px;position:absolute;right:0;z-index:10;}
#skip-button a{color:#000;font-size:0.7rem;text-decoration:underline;}
.clear{clear:both;}
#headline{
    width: 100%;
    padding-top: 8px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 1;
}
#form-wrap{
	margin: 10px auto;
	overflow: hidden;
	max-width: 520px;
	width: 100%;
}
#the-form .emailLable{margin:auto;max-width:380px;overflow:hidden;padding:2px;width:100%;}
#the-form .emailLable .email-txt{float:left;font-weight:bold;font-size:1rem;}
#the-form .emailLable .optional{float:right;font-size:0.8rem;font-style:italic;}
#the-form #email{margin:auto;max-width:380px;width:100%;}
#the-form #email input{width:100%;border:1px solid #b1b1b1;}
#form-button-wrap{margin:auto!important;max-width:494px;width:100%;}
#form-button-wrap .submitBtn{padding:0;}
#form-button-wrap input{width:100%;}
.email-respect{clear:both;font-size:0.9rem;font-weight:bold;padding:10px;text-align:center;}
.row p,.row h2{padding:10px 0;}
.row{padding:20px;}
.row ul li{padding:5px 0;}
.row h1{font-size:3.5rem;}
.program-highlight{background:#ffffff none repeat scroll 0 0;border:1px solid #ccc;box-shadow:0 1px 5px #ccc;margin-bottom:1rem;padding:1rem;}
h2{line-height:2.7rem;}
.bonus-content{clear:both;font-size:1.4rem;overflow:hidden;padding-top:20px;text-align:center;}
.bonustag{clear:both;color:#fff;font-size:1.6rem;font-weight:bold;margin-bottom:20px;text-align:center;text-transform:uppercase;width:100%;}
#featured-wrap{margin:0 auto;max-width:614px;width:90%;}
#cb-info{font-size:0.8rem;margin:0 auto;max-width:645px;padding:1rem;width:100%;}
#footer{color:#666;font-size:0.8rem;text-align:center;}
#footer ul{margin:0;padding:0;}
#footer ul li{display:inline;font-size:0.8rem;margin:10px;}
#footer a{color:#155aaa;}
#cbFoot p{font-size:0.7rem;padding:10px 0;}
#cta-wrapper{margin:15px 0;}
#slidePlayer{width:100%;min-height:400px;background-color:#fff;text-align:center;font-size:2rem;display:table;padding:10px;}
#slideTxt{display:table-cell;text-align:center;vertical-align:middle;}
#newAudioPlayer{height:0px!important;}
#playBtnScreen{max-width:724px;cursor:pointer;height:100%;display:none;}
#toggleMute,#playPause{width:50%;float:left;border:1px solid #cec58f;text-align:center;cursor:pointer;color:#b7aa55;background:#e8da7c;}
#headVidWrap{
	max-width: 720px;
}
.centerDiv{
	margin: 0px auto;
}
.fullWidth{
	width: 100%;
}
.strike{
	text-decoration: line-through;
}
#preMessage{
	font-weight: bold;
}
#playBtnScreen img{width:100%}
#playBtnScreen{max-width:724px;cursor:pointer;height:100%;display:none}

#playPause,#toggleMute{width:50%;float:left;border:1px solid #cec58f;text-align:center;cursor:pointer;color:#b7aa55;background:#e8da7c}

.sc-widget{
	display: inline;
    padding-right: 28px;
    color: #afbcc4;
}

.sc-widget .content-questions {
	display:none;
	padding:0 78px 21px 60px
   }
   @media(max-width: 575.98px) {
	.sc-widget .content-questions {
	 padding:0 15px 21px 60px
	}
   }
   .sc-widget .content-questions p {
	font-size:16px;
	color:#455f70;
	font-family:"Lato",sans-serif;
	margin-bottom:0;
	line-height:1.4em
   }
   @media(max-width: 575.98px) {
	.sc-widget .content-questions p {
	 font-size:14px
	}
   }
   .sc-widget .faq-icon-collapsed {
	display:inline;
	padding-right:28px;
	color:#afbcc4
   }
   .sc-widget .faq-icon-expanded {
	display:none;
	padding-right:28px;
	color:#afbcc4
   }
   .sc-widget .active-question .faq-icon-collapsed {
	display:none
   }
   .sc-widget .active-question .faq-icon-expanded {
	display:inline
   }
   .sc-widget .question-holder1 .questions-content {
	background:#f7f9fa;
	border-radius:39px;
	margin-bottom:5px;
	padding-right:74px
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder1 .questions-content {
	 padding-right:0
	}
   }
   .sc-widget .question-holder1 .questions-content:last-child {
	margin-bottom:0
   }
   .sc-widget .question-holder1 .question-title h3 {
	position:relative
   }
   .sc-widget .question-holder1 .question-title h3:before {
	content:"";
	position:absolute;
	top:16px;
	left:18px;
	width:16px;
	height:16px
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder1 .question-title h3:before {
	 top:14px;
	 left:16px;
	 width:14px;
	 height:14px
	}
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder1 .row-min-padding .col-sm-6:first-child {
	 margin-bottom:5px
	}
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder1 .row-min-padding .active-question .content-questions {
	 padding:0 10px 21px 32px
	}
   }
   .sc-widget .question-holder1 .active-question {
	background:#fff;
	box-shadow:0 6px 20px rgba(0,0,0,.12),0 2px 3px rgba(0,0,0,.06);
	border-radius:8px;
	margin:16px 0
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder1 .active-question {
	 margin:8px 0
	}
   }
   .sc-widget .question-holder1 .active-question .question-title h3 {
	padding:20px 15px 14.5px 32px
   }
   .sc-widget .question-holder1 .active-question .question-title h3:before {
	top:22px
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder1 .active-question .question-title h3 {
	 padding:14px 15px 5px 32px
	}
	.sc-widget .question-holder1 .active-question .question-title h3:before {
	 top:14px;
	 width:14px;
	 height:14px
	}
   }
   .sc-widget .question-holder1 .active-question .content-questions {
	padding-left:78px
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder1 .active-question .content-questions {
	 padding:0 10px 21px 32px !important
	}
   }
   .sc-widget .question-holder2 .questions-content {
	border-top:1px solid #e0e8ec;
	border-bottom:1px solid #e0e8ec;
	margin-top:-1px
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder2 .questions-content {
	 padding-right:0
	}
   }
   .sc-widget .question-holder2 .question-title h3 {
	position:relative;
	padding:13.5px 15px 13.5px 16px;
	transition:.3s ease
   }
   .sc-widget .question-holder2 .question-title h3:before {
	content:"";
	position:absolute;
	top:16px;
	left:8px;
	width:8px;
	height:16px
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder2 .question-title h3:before {
	 top:11px
	}
   }
   @media(min-width: 576px)and (max-width: 767.98px) {
	.sc-widget .question-holder2 .question-title h3 {
	 padding:14.5px 15px 14.5px 16px
	}
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder2 .question-title h3 {
	 padding:12px 15px 12px 16px
	}
   }
   .sc-widget .question-holder2 .content-questions {
	padding:0 78px 21px 62px
   }
   .sc-widget .question-holder2 .active-question .question-title h3 {
	padding:21.5px 15px 13.5px 16px
   }
   .sc-widget .question-holder2 .active-question .question-title h3:before {
	top:27px;
	left:6px;
	width:16px;
	height:8px
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder2 .active-question .question-title h3:before {
	 top:10px
	}
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder2 .active-question .question-title h3 {
	 padding:8px 15px 13.5px 16px
	}
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder2 .active-question .content-questions {
	 padding:0 10px 20px 15px !important
	}
   }
   .sc-widget .question-holder2 .faq-icon-expanded {
	color:#294358
   }
   .sc-widget .question-holder3 .questions-content {
	background:#f7f9fa;
	margin-top:-1px;
	border:1px solid #e0e8ec
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder3 .questions-content {
	 padding-right:0
	}
   }
   .sc-widget .question-holder3 .questions-content:last-child {
	margin-bottom:0
   }
   .sc-widget .question-holder3 .question-title h3 {
	position:relative
   }
   .sc-widget .question-holder3 .question-title h3:before {
	content:"";
	position:absolute;
	top:16px;
	left:18px;
	width:16px;
	height:16px
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder3 .question-title h3:before {
	 top:14px;
	 left:16px;
	 width:14px;
	 height:14px
	}
   }
   .sc-widget .question-holder3 .content-questions {
	padding:0 30px 30px 72px
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder3 .content-questions {
	 padding:0 10px 21px 32px
	}
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder3 .row-min-padding .col-sm-6:first-child {
	 margin-bottom:5px
	}
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder3 .row-min-padding .active-question .content-questions {
	 padding:0 10px 21px 32px
	}
   }
   .sc-widget .question-holder3 .active-question {
	background:#fff;
	box-shadow:0 6px 20px rgba(0,0,0,.12),0 2px 3px rgba(0,0,0,.06);
	border-radius:8px;
	margin:0 -8px
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder3 .active-question {
	 margin:0 -8px
	}
   }
   .sc-widget .question-holder3 .active-question .question-title h3 {
	padding:27px 15px 7px 32px
   }
   .sc-widget .question-holder3 .active-question .question-title h3:before {
	top:28px;
	left:25px
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder3 .active-question .question-title h3 {
	 padding:14px 15px 5px 32px
	}
	.sc-widget .question-holder3 .active-question .question-title h3:before {
	 top:14px;
	 width:14px;
	 height:14px;
	 left:20px
	}
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder3 .active-question .content-questions {
	 padding:0 10px 21px 32px !important
	}
   }
   .sc-widget .question-holder4 .questions-content {
	border-top:1px solid #e0e8ec;
	border-bottom:1px solid #e0e8ec;
	margin-top:-1px;
	position:relative
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder4 .questions-content {
	 padding-right:0
	}
   }
   .sc-widget .question-holder4 .questions-content:before {
	content:"";
	position:absolute;
	top:21px;
	left:8px;
	width:5px;
	height:5px;
	background-color:#fcc466;
	border-radius:6px;
	transition:.3s ease
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder4 .questions-content:before {
	 top:11px
	}
   }
   .sc-widget .question-holder4 .question-title h3 {
	padding:14.5px 15px 14.5px 32px;
	transition:.3s ease
   }
   @media(min-width: 576px)and (max-width: 767.98px) {
	.sc-widget .question-holder4 .question-title h3 {
	 padding:14.5px 15px 14.5px 32px
	}
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder4 .question-title h3 {
	 padding:12px 15px 12px 32px
	}
   }
   .sc-widget .question-holder4 .content-questions {
	padding:0 78px 13px 32px
   }
   @media(max-width: 575.98px) {
	.sc-widget .question-holder4 .content-questions {
	 padding:0 10px 13px 32px
	}
   }
   .sc-widget .question-holder4 .active-question:before {
	top:20px;
	left:6px;
	bottom:20px;
	height:auto
   }

   .mobileCanvas .sc-widget {
	padding:20px 0
   }
   .mobileCanvas .question-holder1 .questions-content {
	padding-right:0
   }
   .mobileCanvas .question-holder1 .active-question .content-questions {
	padding:0 10px 21px 32px !important
   }
   .mobileCanvas .question-holder2 .questions-content {
	padding-right:0
   }
   .mobileCanvas .question-holder2 .active-question .content-questions {
	padding:0 10px 20px 15px !important
   }
   .mobileCanvas .question-holder3 .questions-content {
	padding-right:0
   }
   .mobileCanvas .question-holder3 .active-question .content-questions {
	padding:0 10px 21px 32px !important
   }
   .mobileCanvas .question-holder4 .questions-content {
	padding-right:0
   }
   .mobileCanvas .question-holder4 .active-question .content-questions {
	padding:0 10px 13px 32px !important
   }
   .sc-headline,
   .sc-text,
   .sc-bullet,
   .sc-button,
   .sc-button-row,
   .sc-divider {
	padding-left:40px;
	padding-right:40px
   }
   .sc-headline {
	overflow-wrap:break-word
   }
   .sc-headline h1,
   .sc-headline h2,
   .sc-headline h3 {
	line-height:inherit;
	margin-bottom:inherit
   }
   .sc-widget {
	padding:20px 40px
   }

@-webkit-keyframes color_change {
	from { background-color: #e2542f; }
	to { background-color: #e8da7c; }
}
@-moz-keyframes color_change {
	from { background-color: #e2542f; }
	to { background-color: #e8da7c; }
}
@-ms-keyframes color_change {
	from { background-color: #e2542f; }
	to { background-color: #e8da7c; }
}
@-o-keyframes color_change {
	from { background-color: #e2542f; }
	to { background-color: #e8da7c; }
}
@keyframes color_change {
	from { background-color: #e2542f; }
	to { background-color: #e8da7c; }
}

.blinker {
	background-color: #e8da7c;
	-webkit-animation: color_change .5s infinite alternate;
	-moz-animation: color_change .5s infinite alternate;
	-ms-animation: color_change .5s infinite alternate;
	-o-animation: color_change .5s infinite alternate;
	animation: color_change .5s infinite alternate;
}

@media screen and (max-width: 800px){
	#top-bar .row{padding:0px;}
	#top-bar{padding-bottom:20px;}
}
@media screen and (max-width: 700px){
	#header-tag{margin:0px auto 10px;}
	#slidePlayer{min-height:350px;overflow:hidden;clear:both;}
}
@media (max-width: 500px){
	#row0,#headVidWrap,.container{padding:0px!important;}
	#slidePlayer{min-height:300px;overflow:hidden;clear:both;}
	#slideTxt{line-height:2.5rem;}
}
@media (min-width: 576px){
	.container {
		max-width: 100% !important;
	}
}
body{color:#000;}
.txt-red{color:#D60000;}
.txt-wht{color:#fff;}
.txt-lt-yellow{color:#FFF49A;}
.bg-dkred{background-color:#a72020;}
.bg-offwht{background-color:#fffff1;}
.b-border-ltgry{border-bottom:5px solid #c3c3c3;}
.t-border-ltgry{border-top:5px solid #c3c3c3;}
.border-grey{border-bottom:5px solid #CCCCCC;border-top:5px solid #CCCCCC;}
