@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Monda:400,700|Open Sans&subset=latin-ext');
/* CSS Document */
body{
	margin: 0;
}
.container{
			max-width: 980px;
		}


.flip-clock-divider .flip-clock-label {
	color: white;

}


/* -------------------MODAL--------------------- */

body .modal-dialog{
	width:  680px;
}


.modal-title{
	font-family: "Monda";
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}


.modal {
  text-align: center;
  padding: 0!important;
}


.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}



input#nome{
	border: solid 1px #BFBFBF !important;
	border-radius: 50px !important;
	padding: 10px 20px !important;
	width: 100% !important;
}

input#email{
	border: solid 1px #BFBFBF;
	border-radius: 50px;
	padding: 10px 20px;
	width: 100%;
}


.infusion-field{
	font-family: 'Open Sans', cursive;
	font-size: 25px;
	text-transform: uppercase;
	max-height: 80px;
	padding: 0 20px;
}


.infusion-field-input-container{
	border: solid 1px #BFBFBF;
	border-radius: 50px;
	padding: 10px 20px;
	width: 100%;
}


.infusion-field-input{
	border: solid 1px #BFBFBF;
	border-radius: 50px;
	padding: 10px 20px;
	width: 100%;
}

.infusion-submit{
	padding: 20px 20px;
}

.modal-body {
	padding: 30px;
}

input[type=submit] {
	font-family: 'Open Sans', cursive;
	font-size: 25px;
	text-transform: uppercase;
	border: none;
	border-radius: 50px;
	padding: 10px 30px;
	margin:10px 0 30px;
    cursor: pointer;
	width: 100%;
	color: white;
	background: rgba(7,185,22,1);
	background: -moz-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(7,185,22,1)), color-stop(69%, rgba(43,216,112,1)), color-stop(100%, rgba(43,216,112,1)));
	background: -webkit-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: -o-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: -ms-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: linear-gradient(to right, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
}



.infusion-recaptcha{
	font-family: 'Open Sans', cursive;
	font-size: 25px;
	text-transform: uppercase;
	border: none;
	border-radius: 50px;
	padding: 10px 30px;
	margin:10px 0 30px;
    cursor: pointer;
	width: 100%;
	color: white;
	background: rgba(7,185,22,1);
	background: -moz-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(7,185,22,1)), color-stop(69%, rgba(43,216,112,1)), color-stop(100%, rgba(43,216,112,1)));
	background: -webkit-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: -o-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: -ms-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: linear-gradient(to right, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
}

.tve_p_lb_content {

    top: 300px !important;
    height: 600px !important;
}


/* -------------------HEADER--------------------- */
header{
	background-image: url(images/back.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #000000;

}
hr.white{
	border: 0;
	height: 2px;
	background: -webkit-linear-gradient(left, white, rgba(0,0,0,0));
}
hr.white-2{
	border: 0;
	height: 1px;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0), white, rgba(0,0,0,0));
	margin-top: 0;
}


.logo img{
	width: 90%;
	margin: 30px 0 0 0;
	float: left;
	position: absolute;
}

.left p{
	font-family: 'Open Sans', cursive;
	color: white;
	margin: 230px 0 0 0;
	font-size: 23px;
	text-shadow: 10px 5px 40px black;
}

.trader-header {
	float: left;
	width: 480px;
	position: absolute;
	margin: 50px 0 0 0;
}


.bold {	
	color: #a1ff00;	font-family: 'Monda', sans-serif; font-weight: 700;
}
.bold-2 { font-family: 'Monda', sans-serif;font-weight: 700;}



#cta-1{
	font-family: 'Open Sans', cursive;
	text-transform: uppercase;
	border: none;
	border-radius: 50px;
	padding: 10px 30px;
	margin: 30px 0 0 0;
    cursor: pointer;
	color: white;
	background-color: black;
	font-size: 18px;
	 -webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
#cta-1:hover{
	transform: scale(1.02);
	background-color: #a1ff00;
	color: black;
}

#cta-home-2{
	font-family: 'Open Sans', cursive;
	font-size: 25px;
	text-transform: uppercase;
	border: none;
	border-radius: 50px;
	padding: 10px 30px;
	margin-top:  50px;
    cursor: pointer;
	width: 550px;
	color: white;
	background: rgba(7,185,22,1);
	background: -moz-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(7,185,22,1)), color-stop(69%, rgba(43,216,112,1)), color-stop(100%, rgba(43,216,112,1)));
	background: -webkit-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: -o-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: -ms-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: linear-gradient(to right, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	 -webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

#cta-home-2:hover{
	transform: scale(1.05);
}


.videos{
	margin: 100px 0;
}


.thumb img{
	width: 100%;
}

.lock-1{
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	width: 90%;
	height: 100%;
	transition: .4s;
	opacity: 0;
}
.lock-1 img{
	margin:0;padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.lock-1:hover{
	opacity: 100;

}

.video-thumb{
	transition: .4s;
}

.video-thumb:hover{
	transform: scale(1.05);
}

/* -------------------CONTENT--------------------- */

.bold-3 {color: #2bd86f; font-family: 'Open Sans', cursive;}

.topicos{
	background-color: black;
	margin: 100px 0 0 0;
}
main{
	background-image: url(images/back-2_03.png);
	background-size: 100%;
	background-color: black;
	background-position: bottom;
	background-repeat: no-repeat;
	padding-bottom: 100px;
}

.topicos h2{
	font-family: 'Monda', sans-serif;
	color: #25d338;
	text-transform: uppercase;
	font-size: 25px;

}
.trader-1 h3{
	font-family: 'Monda', sans-serif;
	color: #2bd86f;
	text-transform: uppercase;
	font-size: 25px;
}
.topicos img{
	width: 130px;
	margin: 0 0 20px 0;
}
.topico{
	margin: 60px 0 0 0px;}

.topicos p{
	font-family: 'Open Sans', cursive;
	color: white;
	font-size: 15px;
	line-height: 35px;
	padding: 0 10px;
}



.trader-1{
	margin: 150px 0 0 0;
}

.trader-1 img{
	width: 90%;
}


.trader-duarte-1 p{
	margin: 50px 0 50px 0;
	font-family: 'Open Sans', cursive;
	color: white;
	font-size: 16px;
	line-height: 30px;
}

.foto-trader-1{
	margin: 50px 0 10px;
}

.trader-1 li{
	display: inline-block;
	margin: 20px 5px;	
}
.trader-1 ul{
	padding: 0;

}

.trader-1 i{
	width: 30px;
	height: 30px;
	padding: 8px 0;
	border: 1px white solid;
	border-radius: 50px;
	color: white;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.trader-1 i:hover{
	color: #2bd86f;
	border: 1px solid #2bd86f;
}

/* -------------------FOOTER--------------------- */

footer{
	background-color: black;
}

footer img{
	width: 80px;
	margin: 40px;
	
}
footer p{
	margin: 50px 0;
	
}
footer a{
	text-decoration: none;
	color:#ECECEC;
}

.LCAS{
	font-size: 12px;
	margin-bottom: 10px;
}

.trader-duarte-academy{
	float: left;
}

.texto-footer{
	font-size: 13px;
	color: #636363;
	margin: 30px 0;
}

/* -------------------MEDIA QUERIES--------------------- */


 /* Extra Small Devices, Phones (col-xs) */ 
    @media only screen and (max-width : 480px) {

    	.trader-header {
		display: none;
	}

	.left p {
		margin: 200px 0 0 0;
	}

	h3{
		font-size: 18px;
	}

	.logo img {
    width: 85%;
    padding-left: 20px;
}

	#cta-1{
		font-size: 20px;
		    margin-bottom: 150px;
	}


	#cta-home-2{
	width: 100%;
	font-size: 20px;
	}

	.modal-title{
	font-family: "Monda";
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

	body .modal-dialog{
	max-width:  350px;
	}
		.modal {
	  text-align: center;
	  padding: 0!important;
	}

	.modal-body {
    padding: 0px 30px;
}


	.modal:before {
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;
	  margin-right: -4px;
	}

	.modal-dialog {
	  display: inline-block;
	  text-align: left;
	  vertical-align: middle;
	}

	.infusion-field{
	font-family: 'Open Sans', cursive;
	font-size: 16px;
	text-transform: uppercase;
	max-height: 80px;
	padding: 0;
	}

	.infusion-field-input-container{
		border: solid 1px #BFBFBF;
		border-radius: 50px;
		
		width: 100%;
	}

	.infusion-field-input{
		border: solid 1px #BFBFBF;
		border-radius: 50px;
		padding: 10px 20px;
		width: 100%;
	}

	.infusion-submit{
		padding: 10px 0 0 0;
	}

	.infusion-recaptcha{
		font-size: 16px;
		padding: 10px 20px;
		margin:10px 0 30px;
	    cursor: pointer;
		width: 100%;
		color: white;
		background: rgba(7,185,22,1);
		background: -moz-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(7,185,22,1)), color-stop(69%, rgba(43,216,112,1)), color-stop(100%, rgba(43,216,112,1)));
		background: -webkit-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
		background: -o-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
		background: -ms-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
		background: linear-gradient(to right, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	}

	.videos{
	margin: 150px 0 0 0;
}

	.video-thumb {
        margin-bottom: 20px;
}

.flip-clock-wrapper {
    padding: 0 50px !important;
    }

    	.flip-clock-divider .flip-clock-label {
    right: -37px !important;
}

		.flip-clock-divider.minutes .flip-clock-label {
    right: -47px !important;
}
	
		.flip-clock-divider.seconds .flip-clock-label {
	    right: -55px !important;
	}


/* -------------------FOOTER--------------------- */

.col-xs-12{
	float: none;
}


footer img{
	width: 80px;
	margin: 20px 0 0 0;
}



}


 /* Custom, iPhone Retina (col-xs) */ 
    @media only screen and (max-width : 320px) {
	
		
    body .modal-dialog{
	max-width:  300px;
	}

    }




.card-header{
	margin: 8px 0;
    text-align: left;
    border: none;
	width: 100%;
}


.btn-link:hover, .btn-link:focus {
	text-decoration: none;

}