.pulse {
animation-name: pulse;
-webkit-animation-name: pulse;
animation-duration: 1.2s;
-webkit-animation-duration: 1.2s;
animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
animation-fill-mode: both;
}
@keyframes pulse {
0% {
transform:scale(0.9);
opacity:1;
}
50% {
transform:scale(1);
opacity:1;
}
100% {
transform:scale(0.9);
opacity:1;}
}
@-webkit-keyframes pulse{
0% {
-webkit-transform:scale(0.95);
opacity:1;
}
50% {
-webkit-transform:scale(1);
opacity:1;
}
100% {
-webkit-transform:scale(0.95);
opacity:1;
}
}